@model MoviesAppNetCore.Models.Movie

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
<h1>Add a Movie</h1>
    <form method="post">
        <input asp-for="Name"/>
        <input asp-for="Genre"/>
        <input asp-for="Synopsis"/>
        <input type="submit" name="save" value="Save"/>
    </form>
</body>
</html>


