@model Movie

@{
    ViewBag.Title = "Add Movie";
    ViewBag.Header = "Add Movie";
}
<body>
    <form method="post">
        <div>Name: <input asp-for="Name" /> </div>
        <div>Genre: <input asp-for="Genre" /></div> 
        <div>Synopsis: <input asp-for="Synopsis" />
        </div><input type="submit" name="save" value="Save" />
    </form>
</body>



