@model Movie

@{
    ViewBag.Title = "Movie Details";
    ViewBag.Header ="Movie Details";
}

<body>
<div>
    <ul>
        <li>@Model.Id</li>
        <li>@Model.Name</li>
        <li>@Model.Genre</li>
        <li>@Model.Synopsis</li>

    </ul>
</div>
@section footer
{
    <a asp-action="Movies"> Home</a>
}

</body>
