<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <extensions>
        <add assembly="SumoLogic.Logging.NLog"/>
    </extensions>
    <targets>
        <target name="logfile" xsi:type="File" fileName="file.txt" layout="${machinename}|${longdate}|${level:uppercase=true}|${logger}|${message}|${newline}${exception}"/>
        <target name="logrepofile" xsi:type="File" fileName="repo.txt" layout="${machinename}|${longdate}|${level:uppercase=true}|${logger}|${message}|${newline}${exception}"/>
        <target name="logconsole" xsi:type="Console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
        <target
            name="#{SumoLogicEndPointName}"
            type="BufferedSumoLogicTarget"
            layout="[${longdate:universalTime=True}, ${pad:padding=5:inner=${level:uppercase=true}}, ${machinename}] ${logger} [${when:when=length('${event-properties:item=EventId.Id}') > 0:inner=${event-properties:item=EventId.Id}}] - ${message:whenEmpty=No Exception Message} ${onexception:${when:when=length('${exception:format=Data') > 0:inner=${newline}Exception Data [ ${exception:format=Data} ]} ${onexception:${newline}${exception:format=toString}}">
            <SourceName>default</SourceName>
            <Url>#{SumoLogicEndPoint}</Url>
            <ConnectionTimeout>30000</ConnectionTimeout>
            <RetryInterval>5000</RetryInterval>
            <MessagesPerRequest>10</MessagesPerRequest>
            <MaxFlushInterval>10000</MaxFlushInterval>
            <FlushingAccuracy>250</FlushingAccuracy>
            <MaxQueueSizeBytes>500000</MaxQueueSizeBytes>
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="logconsole" />
        <logger name="*" minlevel="Debug" writeTo="logfile" />
        <logger name="MoviesAppNetCore.Services.*" minlevel="Info" writeTo="logrepofile" />
    </rules>
</nlog>